{% trans_default_domain 'SiteCustomerBundle' %}
<div class="company company_edit">
	<form action="{{ path('site_user_company_edit_image') }}" {{ form_enctype(form) }} method="POST">	
		{{ form_widget(form.file) }}
		

		<div class="btn-group">
			{{ form_widget(form.submit) }}
			<button class="btn btn-main btn-danger" id="show-company">{{ 'common.cancel'|trans }}</button>    			
		</div>			
		{{form_rest(form)}}
	</form>
</div>