{% trans_default_domain 'SiteSupervisorBundle' %}

<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="logo">
			<a href="{{ path('site_supervisor_core_homepage') }}"></a>
		</li>
		<li>
			<a class="{% if app.request.attributes.get('_route') == 'site_supervisor_core_homepage' %}active{% endif %}" href="{{ path('site_supervisor_core_homepage') }}">
				<span class="onglet">{{ 'common.dashboard'|trans }}</span>
				<span class="image">
					<span class="icon icon-stack"></span>
				</span>
			</a>
		</li>
		<li>
			<a class="{% if app.request.attributes.get('_route') == 'site_supervisor_evaluation-session_list' %}active{% endif %}" href="{{ path('site_supervisor_evaluation-session_list') }}">
				<span class="onglet">{{ 'common.candidates'|trans }}</span>
				<span class="image">
					<span class="icon icon-users"></span>
				</span>
			</a>
		</li>
		<li>
			<a class="{% if app.request.attributes.get('_route') == 'site_supervisor_evaluation_list' %}active{% endif %}" href="{{ path('site_supervisor_evaluation_list') }}">
				<span class="onglet">{{ 'common.tests'|trans }}</span>
				<span class="image">
					<span class="icon icon-docs"></span>
				</span>
			</a>
		</li>
		<li>
			<a class="{% if app.request.attributes.get('_route') == 'test_list' %}active{% endif %}" href="{{ path('test_list') }}">
				<span class="onglet">{{ 'common.subjects'|trans }}</span>
				<span class="image">
					<span class="icon icon-drawer"></span>
				</span>
			</a>
		</li>
		{#
		<li>
			<a class="{% if app.request.attributes.get('_route') == 'site_supervisor_core_settings' %}active{% endif %}" href="{{ path('site_supervisor_core_settings') }}">
				<span class="onglet">{{ 'common.settings'|trans }}</span>
				<span class="image">
					<span class="icon icon-settings"></span>
				</span>
			</a>
		</li>
		#}
	</ul>
	<div class="footer">
		<div type="button" class="support" data-toggle="modal" data-target="#support-modal" >
			{{ 'footer.support'|trans }}
		</div>
		<br>{% include "SiteCoreBundle:Utils:switch_locale.html.twig" %}
		<br>Peerassess 2015<br>{{ version }}
	</div>
</div>
