{% trans_default_domain 'SiteVitrineBundle' %}

<section id="features">
	<div class="bande">
		<div class="container">
			<div class="row ">
				<div class="col-xs-12 col-sm-4 item-feature">
					<table class="title">
						<tr>
							<td><span class="icon icon-console"></span></td>
							<td>{{ 'company.features.title1'|trans }}</td>
						</tr>
					</table>
					<p>
						{{ 'company.features.content1'|trans|raw }}
					</p>
				</div>
				<div class="col-xs-12 col-sm-4 item-feature">
					<table class="title">
						<tr>
							<td><span class="icon icon-lab2"></span></td>
							<td>{{ 'company.features.title4'|trans }}</td>
						</tr>
					</table>
					<p>
						{{ 'company.features.content4'|trans|raw }}
					</p>
				</div>
				<div class="col-xs-12 col-sm-4 item-feature">
					<table class="title">
						<tr>
							<td><span class="icon icon-news"></span></td>
							<td>{{ 'company.features.title3'|trans }}</td>
						</tr>
					</table>
					<p>
						{{ 'company.features.content3'|trans|raw }}
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-sm-offset-2 item-feature">
					<table class="title">
						<tr>
							<td><span class="icon icon-stopwatch"></span></td>
							<td>{{ 'company.features.title5'|trans }}</td>
						</tr>
					</table>
					<p>
						{{ 'company.features.content5'|trans|raw }}
					</p>
				</div>
				<div class="col-xs-12 col-sm-4 item-feature">
					<table class="title">
						<tr>
							<td><span class="icon icon-display"></span></td>
							<td>{{ 'company.features.title2'|trans }}</td>
						</tr>
					</table>
					<p>
						{{ 'company.features.content2'|trans|raw }}
					</p>
				</div>

			</div>
		</div>
	</div>
</section>
