{% trans_default_domain 'SiteVitrineBundle' %}
<section id="presentation" class="section-border" >
    <div class="color-section img-to-right" id="presentation-1">
      <img src="{{ optipng('img/homepage/avantages/company1.png') }}" alt="avantage" class="animate pre-animate-left">
      <div class="presentation-item">
        <h2 class="animate pre-animate-right">{{ 'company.presentation.avantage1.title'|trans |raw }}</h2>
        <p class="animate pre-animate-right">{{ 'company.presentation.avantage1.text'|trans |raw }}</p>
      </div>
    </div>

    <div class="color-section color2 img-to-left" id="presentation-2">
      <img src="{{ optipng('img/homepage/avantages/company2.png') }}" alt="avantage" class="animate pre-animate-right">
      <div class="presentation-item ">
        <h2 class="animate pre-animate-left">{{ 'company.presentation.avantage2.title'|trans |raw }}</h2>
        <p class="animate pre-animate-left">{{ 'company.presentation.avantage2.text'|trans |raw }}</p>
      </div>
    </div>

    <div class="color-section color3 img-to-right" id="presentation-3">
      <img src="{{ optipng('img/homepage/avantages/company3.png') }}" alt="avantage" class="animate pre-animate-left">
      <div class="presentation-item ">
        <h2 class="animate pre-animate-right">{{ 'company.presentation.avantage3.title'|trans |raw }}</h2>
        <p class="animate pre-animate-right">{{ 'company.presentation.avantage3.text'|trans |raw }}</p>
      </div>
    </div>

</section>
