{% trans_default_domain 'SiteVitrineBundle' %}
<section id="peerAssessment" class="section-border" >
	<div class="container-fluid bande">
		<div class='row'>
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-centered">
				<h2 class="insist m-t-xl">{{'company.peerAssessment.title'|trans}}</h2>
				<div>
					<img src="{{ optipng('img/homepage/peer-assessment.png') }}" class="full-width">
				</div>
				<div class="container-fluid explanations">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<div class="title">{{'company.peerAssessment.step1.title'|trans}}</div>
							<p>{{'company.peerAssessment.step1.content'|trans}}</p>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="title">{{'company.peerAssessment.step2.title'|trans}}</div>
							<p>{{'company.peerAssessment.step2.content'|trans}}</p>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="title">{{'company.peerAssessment.step3.title'|trans}}</div>
							<p>{{'company.peerAssessment.step3.content'|trans}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
