{# {% extends "FOSUserBundle::layout.html.twig" %} #}

{% block content %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock content %}

{# {% block content %}
<div class="page-content" id="cover">
<div class="container">
  <div class="row">
    <div class=" col-xs-10 col-centered">
     <a class="logo" href="">
          <img src="{{ optipng('img/logo/logo-bluebg-small.png') }}">
      </a>
    </div>
    <div class=" col-xs-4 col-centered">   
      {% if error %}
        <div class="error">{{ error|trans }}</div>
      {% endif %}          
      <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />    
        <input type="text" id="username-reset" name="_username" value="{{ last_username }}" required="required" placeholder="Identifiant" class="haut"/>
        <input type ="password" id="password-reset" name="_password" required="required" placeholder="Mot de passe" class="bas"/> 
        <input type="submit" id="reset_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-info">                                
      </form>
      <a href="#" class="btn btn-transparent">a</a>
    </div>

  </div>
</div>
</div>
{% endblock content %} #}