{% trans_default_domain 'FOSUserBundle' %}
<div class="fos_user_change_password fos_user">
	<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
		<table>      
			<tr>
				<td class="attribut">{{ form_label(form.current_password) }}</td>
				<td class="champ">
				{{ form_errors(form.current_password) }}
				{{ form_widget(form.current_password) }}
				</td>                 
			</tr>  
			<tr>
				<td class="attribut">{{ form_label(form.plainPassword.first) }}</td>
				<td class="champ">
				{{ form_errors(form.plainPassword.first) }}
				{{ form_widget(form.plainPassword.first) }}
				</td>                 
			</tr>  
			<tr>
				<td class="attribut">{{ form_label(form.plainPassword.second) }}</td>
				<td class="champ">
				{{ form_errors(form.plainPassword.second) }}
				{{ form_widget(form.plainPassword.second) }}
				</td>                 
			</tr>  	
		</table>	
		<div class="btn-group">
			<input type="submit" class="btn btn-main btn-success" value="{{ 'change_password.submit'|trans }}" />	
			<button class="btn btn-main btn-danger show-profile" value="{{ 'common.cancel'|trans({},"SiteCustomerBundle")  }}">
				{{ 'common.cancel'|trans({},"SiteCustomerBundle")  }}
			</button>		
		</div>
		{{form_rest(form)}}
	</form>
</div>