{% trans_default_domain 'SiteSupervisorBundle' %}

<div class="modal fade" id="delete-modal-{{invite.id}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">{{ 'evaluationSession.archive.title'|trans }}</h4>
      </div>

      <div class="modal-body">
      	<div class="alert alert-warning">{{ 'evaluationSession.archive.content'|trans }} "{{invite.email}}" </div>
      </div>
      <div class="modal-footer">
      	<a href="{{ path('site_supervisor_evaluation-session_delete', {'id': invite.id}) }}" class="btn btn-main pull-left">
      		{{ 'evaluationSession.archive.submit'|trans }}
      	</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'common.cancel'|trans }}</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
